main {
    color: white;
    font-size: 20px;
    text-align: center;
}
.mainInfo {
    background-color: pink;
    color: white;
    font-size: 20px;
    text-align: left;
}
.main {
    background-color: pink;
    color: white;
    font-size: 20px;
    text-align: left;
}
.main > section > h2 {
    color: red;
}
p {
    color: green;
  }
  
  .red {
    color: red;
  }
  
  #blue {
    color: blue;
  }
  div {
    width: 500px;
    height: 500px;
  
    background: #333333;
  }
  
  #main {
    color: white;
    width: 750px;
  }
  
  .text-white {
    color: white;
  }
  
  .alert {
    height: 350px;
    color: gray;
  }
  
  div {
    background: blue;
  }
  
  .alert-warning {
    background: #000000;
    color: yellow;
  }